.thumbcard:hover .thumbtext {
	opacity: .9;
}

.thumbcard {
	position: relative;
	min-width: 250px;
	max-height: 80vh;
}

.thumbtext {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
	color: black;
}

.skills {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: #99B9CC;
}